body,
html{
	background:#EAEAEA;
	max-width: 480px;
	max-height: 320px;
	width: 480px;
	height: 320px;
	border:0px solid #0F0;
	overflow: hidden;
	-webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */     

}
.head{
	border: 1px solid #000;
	line-height: 40px;
	text-align: center;
	background: #FFF;
}
.body{

}
.counter{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	font-size: 70px;
	font-weight: bold;
	height: 150px;
	line-height: 150px;
	background:#FAFAFA;
}
.button{
	font-size: 80px;
	height: 100px;
	line-height: 100px;
	cursor: pointer;
}
.plus{
	background:#00FF00;
}
.minus{
	background:#FF0000;
}
.btn-flat{
	border-radius: 0px;			
}
.style{
	font-weight: bolder;
	height: 60px;

}
#counter{
	border: 0px;
	background:#FAFAFA;
	font-size: 70px;
	font-weight: bold;
	width: 528px;
	height: 150px;
}
#balance{
	border: 0px;
	background: #FFF;
	
}