html, body{height: 100%;}
body {background-image: url('../img/Lobby.jpg') ;background-position: center center;background-repeat:  no-repeat;background-attachment: fixed;background-size:  cover;background-color: #999;}
.font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(http://maxismart.gmedia.solutions/hs/loginpage_tpl/bandha_v4/font/icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(http://maxismart.gmedia.solutions/hs/loginpage_tpl/bandha_v4/font/icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(http://maxismart.gmedia.solutions/hs/loginpage_tpl/bandha_v4/font/icons/MaterialIcons-Regular.woff) format('woff'),
       url(http://maxismart.gmedia.solutions/hs/loginpage_tpl/bandha_v4/font/icons/MaterialIcons-Regular.svg) format('svg'),
       url(http://maxismart.gmedia.solutions/hs/loginpage_tpl/bandha_v4/font/icons/MaterialIcons-Regular.ttf) format('truetype');
}
.center-div{margin-top: 10%;}
.material-icons {font-family: 'Material Icons';font-weight: normal;font-style: normal;font-size: 24px;display: inline-block;line-height: 1;text-transform: none;letter-spacing: normal;word-wrap: normal;white-space: nowrap;direction: ltr;-webkit-font-smoothing: antialiased;text-rendering: optimizeLegibility;-moz-osx-font-smoothing: grayscale;font-feature-settings: 'liga';}
.material-icons.md-8 { font-size: 8px; }
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.full{width: 100%;}
.box{background-color: rgba(255,255,255,0.7); /* background-color: rgba(109,200,239,0.7);*/ width: 35%;margin: 0 auto;display: block;border-radius: 10px;}
.center-block{margin: 0 auto;display: block;}
.box-input{padding: 0 30px;}
.logo{padding: 15px 30px 0 30px;border-radius: 10px;padding: 15px 30px;margin-top: px; width: 270px;}
.footer{padding: 15px 30px;border-radius: 0 0 10px 10px;}
h6{margin-bottom: 0;font-size: 10px;color: #000000;}
.logo-footer{width: 120px;}
.no-margin-btm{margin-bottom: 0;}
input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid{border-bottom: 1px solid #fafafa;box-shadow: 0 1px 0 0 #fafafa;}
input[type]:focus:not([readonly]){border-bottom: 1px solid #000000;box-shadow: 0 1px 0 0 #000000;}
input[type]:focus:not([readonly])+label{color: #000000 !important;}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{border-bottom: 1px solid #000000;}
.input-field label{color: #000000;}
input{color: #000000;font-weight: 600;}
.btn-login{background-color: #0095d5;}
.btn-login:hover{background-color: #0c8bc2;}
.sosmed{margin-top: 0;text-align: center;margin-bottom: 20px;}
.sosmed li{list-style-type: none;}
.sosmed li{display: inline-block;padding: 0 10px 0 10px;width: 80px;}
.center-it{margin: 0 auto;display: block;text-align: center;}
@media(max-width: 1024px){
	.box{width: 50%;}
  .center-div{margin-top: 12%;}
}
@media(max-width: 800px){
	.box{width: 45%;}
}
@media(max-width: 773px){
  .box{width: 60%;}
  .center-div{margin-top: 5%;}
}
@media(max-width: 768px){
  .box{width: 60%;}
  .center-div{margin-top: 13%;}
}
@media(max-width: 736px){
	.box{width: 50%;}
  .center-div{margin-top: 5%;}
}
@media(max-width: 667px){
  .box{width: 100%;}
  .center-div{margin-top: 5%;}
}
@media(max-width: 600px){
  .box{width: 100%;}
  .center-div{margin-top: 20%;}
}
@media(max-width: 414px){
  .box{width: 100%;}
  .center-div{margin-top: 10%;}
}
@media(max-width: 568px){
  .box{width: 100%;}
  .center-div{margin-top: 5%;}
}
@media(max-width: 435px){
  .center-div{margin-top: 20%;}
}
@media(max-width: 414px){
  .center-div{margin-top: 17%;}
}
@media(max-width: 375px){
  .center-div{margin-top: 37%;}
}
@media(max-width: 360px){
  .center-div{margin-top: 25%;}
}
@media(max-width: 320px){
	.box{width: 100%;}
	.btn-login{width: 100%;}
  .center-div{margin-top: 27%;}
}